
@{
    ViewData["Title"] = "SaveExistingProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>SaveExistingProducts</h3>

<form id="shopifyform" asp-controller="ProductDetails" asp-action="SaveExistingProducts" method="post">
    <input type="submit" value="SaveExistingProducts" />
</form>

